.box-25{
	width:49%;
	margin-right:2%;
}

.box-25.drugi{
	margin-right:0;
}

.box-25.last{
	margin-right:0;
}

.statistics table{
	width:80%;
}

.datum select{
	width:32%;
}

.entry input:not([type='submit']), .entry textarea{
	width:566px;
}